@charset "UTF-8";
/*!

  Main CSS Page

  Created & Edited by CraftMyWebsite & BadiiiX

  Twitter : @CraftMyWebsite & @BadiiiX_IT

  Copyright 2020 ©
*/



/* --- --- GLOBAL --- --- */

@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');


:root {
    --main-color-bg: #333336;
    --secondary-color-bg: #c104ff;

    --base-color: #e0e0e0;
    --main-color: #e5a0fc;
    --active-color: #d457fd;


    --darkest-color-bg: #3f3f3f;
    --lightest-color-bg: #585858;

    --header-image: url(../img/heading.jpg);
}

/* °==> CKEditor :root */

:root {
    --ck-color-media-embed-placeholder-url-text: var(--base-color) !important;
    --ck-color-media-embed-placeholder-url-text-hover: var(--active-color) !important;

    --ck-color-upload-placeholder-loader: var(--base-color) !important;

    --ck-color-image-upload-icon: var(--base-color) !important;

    --ck-color-resizer-tooltip-background: var(--darkest-color-bg) !important;
    --ck-color-resizer-tooltip-text: var(--base-color) !important;

    --ck-color-split-button-hover-background: var(--darkest-color-bg) !important;
    --ck-color-split-button-hover-border: var(--darkest-color-bg) !important;

    --ck-color-color-grid-check-icon: var(--base-color) !important;

    --ck-color-base-foreground: var(--secondary-color-bg) !important;
    --ck-color-base-background: var(--lightest-color-bg) !important;
    --ck-color-base-border: var(--darkest-color-bg) !important;
    --ck-color-base-text: var(--base-color) !important;
    --ck-color-base-active: var(--active-color) !important;
    --ck-color-base-active-focus: var(--active-color) !important;
    --ck-color-text: var(--ck-color-base-text) !important;
    --ck-color-button-default-hover-background: var(--active-color) !important;
    --ck-color-button-default-active-background: var(--active-color) !important;
    --ck-color-button-default-active-shadow: transparent !important;
    --ck-color-button-default-disabled-background: transparent !important;
    --ck-color-button-on-background: var(--active-color) !important;
    --ck-color-button-on-hover-background: var(--active-color) !important;
    --ck-color-button-on-active-background: var(--active-color) !important;
    --ck-color-button-on-active-shadow: transparent !important;
    --ck-color-button-on-disabled-background: #adadad !important;
    --ck-color-input-border: transparent !important;
    --ck-color-input-error-border: var(--ck-color-base-error) !important;
    --ck-color-input-text: var(--ck-color-base-text) !important;
    --ck-color-input-disabled-background: #adadad !important;
    --ck-color-input-disabled-border: none !important;
    --ck-color-upload-bar-background: var(--main-color) !important;
    --ck-color-link-default: var(--main-color) !important;
    --ck-color-link-selected-background: var(--active-color) !important;
    --ck-color-link-fake-selection:  var(--main-color) !important;
    --ck-color-focus-border: var(--main-color) !important;

}

/* °==> Reset Style */

*:focus {
    box-shadow: none !important;
}

html {
    text-shadow: 1px 1px 5px var(--main-color-bg);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    background: var(--main-color-bg);
    color: var(--base-color);

    font-family: 'Electrolize', sans-serif;
}

a {
    color: var(--main-color);
    text-decoration: none;
    transition: .5s;
}

strong.important--text {
  
  color: var(--active-color) !important;

}

a:hover:not(.no-hover) {
    color: var(--active-color);
    text-decoration: none;
}

blockquote{
  border-right:0;
  border-left:5px solid #ccc;
  padding-left:20px;
}

.badge {
    text-shadow: none;
}

.alert {
    text-shadow: none;
}

.w-80 {
    width: 80% !important;
}

/* ==> CKEditor */

.ck-editor strong {
  color: unset !important;
}

/* ==> Background & Textes */

.badge-main,
.alert-main,
.bg-main {
    background-color: var(--secondary-color-bg) !important;
    color: var(--base-color) !important;
}

.bg-darkest {
    background-color: var(--darkest-color-bg) !important;
    color: var(--base-color) !important;
}

.bg-lightest {
    background-color: var(--lightest-color-bg) !important;
}

.base-color {
    color: var(--main-color);
}

.text-shadow-none {
    text-shadow: none !important;
}

.text-active {
    color: var(--active-color) !important;
}

/* ==> Other */

.d-flex {
    justify-content: center;
    align-items: baseline;
}

#divScroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

/* ==> Buttons */

.btn-light.copy-ip {
    color: var(--active-color);
    text-shadow: var(--main-color-bg) 0.5px 0.5px 0;
    background-color: var(--base-color) !important;
    border: none;
}

.btn-main {
    background-color: var(--darkest-color-bg);
    color: var(--base-color);
    font-size: initial;
}

.btn-secondary {
    background-color: var(--lightest-color-bg);
    border-color: var(--lightest-color-bg);
    color: var(--base-color);
    font-size: initial;
}

.btn-main:hover,
.btn-secondary:hover {
    color: var(--base-color) !important;
    background-color: var(--secondary-color-bg) !important;
}

.btn-reverse {
    background-color: var(--active-color);
    color: var(--base-color);
    font-size: initial;
}

.btn-reverse:hover {
    background-color: var(--secondary-color-bg);
    color: var(--base-color);
    box-shadow: 0px 1px 10px 3px var(--lightest-color-bg);
}

.btn-main:disabled,
.btn-main.disabled {
    pointer-events: none;
    cursor: default;
}

/* ==> Ribbons */

.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px
}

.ribbon {
    font-size: 12px;
    color: var(--base-color);
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 15px;
    text-align: center;
    transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    right: -11px;
    top: 10px;
    width: 100px;
    height: 28px;
    background-repeat: repeat-x;
}

.ribbon:before,
.ribbon:after {
    content: "";
    border-top: 3px solid var(--active-color);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px
}

.ribbon:before {
    left: 0
}

.ribbon:after {
    right: 0
}

/* --- --- HEADER --- --- */

.header-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 100%;
    background-size: cover !important;
}

.main-header-text {
    display: flex;
    height: 450px;
    justify-content: center;
    align-items: center;
}

.header-text {
    display: flex;
    height: 112.5px;
    justify-content: flex-end;
    align-items: center;
}

.header-info {
    margin: 1.6rem 0;
}

li.nav-item {
    list-style-type: none;
}

.nav-item .nav-link {
    font-size: .9rem !important;
    margin-right: 1em !important;
    color: var(--base-color) !important;
}

.nav-item.active .nav-link {
    color: var(--active-color) !important;
}

.nav-item.dropdown {
    margin-top: -.7rem;
}

.nav-item:not(.dropdown) .nav-link:not(.dropdown-toggle)::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 0%;
    opacity: 0;
    height: .2rem;
    margin-top: .5rem;
    border-radius: 99px !important;
    background-color: var(--secondary-color-bg);
    transition: .2s ease-in-out;
}

.nav-item.active:not(.dropdown)>.nav-link::after,
.nav-item:not(.dropdown)>.nav-link:hover::after {
    opacity: 1;
 		width: 80%;
}

.nav-item.dropdown>.nav-link:hover:not(.btn-main) {
    color: var(--active-color) !important;
}

.dropdown-menu {
    background-color: var(--darkest-color-bg) !important;
    color: inherit !important;
}

.dropdown-item {
    color: var(--base-color) !important;
}

.dropdown-item:hover {
    background-color: var(--lightest-color-bg);
}

.dropdown-divider {
    margin: .5rem auto !important;
    width: 90%;
    border-color: var(--lightest-color-bg);
}

/* --- --- CARDS & MODAL --- --- */

.card {
    padding: 0;

    background-color: var(--darkest-color-bg);
    border-color: var(--darkest-color-bg);
}

.card-title,
.modal-title {
    margin: 0;
}

.card-body,
.modal-body {
    background-color: var(--darkest-color-bg);
    border: none;
}

.card-header,
.card-footer,
.modal-header,
.modal-footer {
    background-color: var(--lightest-color-bg);
    border: none;
}

.modal-content {
    border: none;
}

.news-content,
.info-content {
    margin: 1.1rem 0;
}

.news-articles .news-content:first-child .card:first-child {
    margin-top: 1rem;
}

.news-articles .news-content:first-child .card-header {
    padding-top: 2.1rem;
}

.news-articles .news-content:first-child .card-body {
    margin-top: 2.1rem;
}

.info-content {
    margin-bottom: .8rem;
}

/* --- --- TABLES --- --- */

.table-dark {
    color: var(--base-color);
    background-color: var(--darkest-color-bg);
}

.table-dark thead {
    background-color: var(--main-color-bg);
}

.table-dark td a {
    color: var(--base-color);
}

.table-dark td a.btn {
    font-size: unset;
}

.table-dark.table-hover tbody tr:hover:not(.no-hover) {
    color: var(--base-color);
    background-color: var(--secondary-color-bg)
}

.table-dark.table-hover tbody tr.no-hover {
    color: unset !important;
}

/* --- --- PAGES --- --- */
.info-page {
    border-radius: 4px;
    margin: 1.2rem 0;
    padding: .9rem;
    background-color: var(--lightest-color-bg);
}

.notification-icon {
    flex: 0 0 50px;
    align-self: center;
    padding: 0 .5rem .5rem 0;
    font-size: 29px;
    color: var(--main-color);
}

/* ==> Boutique */

.categorie-content {
    font-size: 17px !important;
    display: block;
    margin-top: .3rem;
    border-bottom: none;
}

.categorie-item {
    font-size: 17px !important;
    margin: 0 .4rem .4rem 0rem !important;
    padding: .6rem;
    list-style-type: none;
    font-size: 17px !important;
    background-color: var(--lightest-color-bg);
    transition: .5s;
}

.categorie-item .active {
    background-color: unset !important;
    color: var(--main-color) !important;
}

.categorie-item:hover:not(.no-hover) {
    background-color: var(--secondary-color-bg);
}

.categorie-link {
    border: none;
    font-size: 17px !important;
    padding: 0;
    display: block;
    color: var(--base-color);
    transition: .5s;
}

.categories .nav-link {
    border: none !important;
}

.categorie-link:hover {
    border: none;
    color: var(--base-color);
}

.categories .nav-link:not(.dropdown-toggle)::after {
    display: none !important;
}

.categories .nav-link.disabled {
    color: inherit !important;
}

#Shop .btn.btn-main {
    width: 100%;
    margin-bottom: 0.2rem;
}

/* ==> Membres */

.page-link {
    background-color: var(--lightest-color-bg) !important;
    color: var(--base-color) !important;
    border-color: var(--darkest-color-bg) !important;
}

.page-link:hover {
    background-color: var(--secondary-color-bg) !important;
    color: var(--base-color) !important;
    border-color: var(--main-color) !important;
}

@keyframes loading {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
 
.loading {
    animation: loading 2s linear infinite;
}

/* ==> Support */

#Support .btn.btn-main {
    width: 80%;
    margin: 0.2rem;
}

/* ==> Vote */

.title-vote-listing {
    display: flex;
    align-items: center;
}

.vote-line {
    border-top: 1px solid var(--secondary-color-bg);
    flex-grow: 1;
    margin: 0 10px;
}

#disprecompList #recompList>li>.plusFont{

    color: #95b82f;
    margin-right: 2rem;

}

/* ==> Chat */

#Chat .btn.btn-main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.media-body {
    text-align: justify;
    word-break: break;
}

/* ==> Profil */


.profile-image {
    width: 125px;
    height: 125px;
    display: inline-block;
    vertical-align: top;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.hoverText {
    position: absolute;
    top: 0;
    transition: .5s ease;
    opacity: 0;
    width: 128px;
    text-align: center;
}

.card-container:hover .hoverText {
    opacity: 1;
}

.caption {
    background-color: rgba(226, 221, 221, .85);
    max-width: 128px;
    min-height: 128px;
    font-size: 30px;
    padding-top: 52px;
    color: white;
    cursor: pointer;
}

/* --- --- FORUM --- --- */

.style16 {
    background-image: url(../img/etoile-anime.gif);
}

.style5 {
    background-image: url(../img/spark-gold.gif);
}

.prefix {
    background-color: transparent;
    padding: 0px 6px;
    margin: -1px 0;
    border: 1px solid transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px; 
    border-radius: 0px;
    display: inline-block;
}

a.prefixLink:hover {
    text-decoration: none;
}

a.prefixLink:hover .prefix {
    color: rgb(70,70,70);
    text-decoration: none;
    background-color: rgb(245,245,245);
    padding: 0 6px;
    border: 1px solid rgb(222,222,222);
}

.prefix a { 
  color: inherit;
}

.prefix.prefixPrimary {
    color: rgb(70, 70, 70);
    background-color: rgb(239, 239, 239);
    border-color: rgb(239, 239, 239);
}

.prefix.prefixSecondary {
    color: rgb(73, 73, 73);
    background-color: rgb(203, 203, 203);
    border-color: rgb(203, 203, 203);
}

.prefix.prefixRed {
    color: white;
    background-color: red;
    border-color: #F88;
}

.prefix.prefixGreen {
    color: white;
    background-color: green;
    border-color: green;
}

.prefix.prefixOlive {
    color: black;
    background-color: olive;
    border-color: olive;
}

.prefix.prefixLightGreen {
    color: black;
    background-color: lightgreen;
    border-color: lightgreen;
}

.prefix.prefixBlue {
    color: white;
    background-color: blue;
    border-color: #88F;
}

.prefix.prefixRoyalBlue {
    color: white;
    background-color: royalblue;
    border-color: #81A9E1;
}

.prefix.prefixSkyBlue {
    color: black;
    background-color: skyblue;
    border-color: skyblue;
}

.prefix.prefixGray {
    color: black;
    background-color: gray;
    border-color: #AAA;
}

.prefix.prefixSilver {
    color: black;
    background-color: silver;
    border-color: silver;
}

.prefix.prefixYellow {
    color: black;
    background-color: yellow;
    border-color: #E0E000;
}

.prefix.prefixOrange {
    color: black;
    background-color: orange;
    border-color: #FFC520;
}

.prefix.prefixCreateur {
    color: red;
}


/* --- --- FORMS --- --- */


.custom-text-input,
.custom-text-input:disabled {
    background-color: var(--lightest-color-bg);
    color: var(--base-color);
    border: none !important;
    border-bottom: 1px var(--base-color) solid !important;
    border-radius: 0 !important;
}

.custom-text-input:focus {
    background-color: var(--main-color-bg);
    border-color: var(--main-color);
    color: var(--base-color);
}


.custom-control-input:checked~.custom-control-label::before {
    color: var(--active-color) !important;
    border-color: var(--active-color);
    background-color: var(--active-color);
    box-shadow: var(--active-color);
}

.recover-container {
    margin: .7rem;
    padding: 1.3rem;
    background-color: var(--lightest-color-bg);
}

.recover-container .custom-text-input {
    background-color: var(--darkest-color-bg);
}

.star-required::after {
    content: '*';
    color: red;
}

/* --- --- MAINTENANCE PAGE --- --- */

.countdown-circles {
    text-transform: uppercase;
    font-weight: bold;
}

.content-clock {
    display: block;
    padding: .6rem;
    margin: .4rem;
    border-radius: 3px;
    text-align: center;
    font-weight: 900;
    background-color: var(--darkest-color-bg);
}

.countdown-circles span {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 32px;
    background: var(--secondary-color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* --- --- FOOTER --- --- */

footer {
  margin-top: auto;
}

.footer-body {
    padding: 1.9rem;
    margin-top: 1.7rem;
    background-color: var(--darkest-color-bg);
}

.about-title::after,
.social-title::after {
    content: '';
    display: block;
    width: 3.1rem;
    opacity: 1;
    height: .15rem;
    margin: .5rem 0 1.5rem 1.3rem;
    border-radius: 99px !important;
    background-color: var(--secondary-color-bg);
    transition: .2s ease-in-out;
}

.about-content {

    margin: 1rem .2rem;
    padding: .2rem 1.4rem;
    border-left: .2rem solid var(--secondary-color-bg);
    text-align: justify;
}

.social-content a {
    display: block;
    padding: .8rem;
    color: var(--base-color);
    font-size: 1.1rem;
    background-color: var(--lightest-color-bg);
    width: 75%;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.social-content a .social-text {
    margin-left: 1rem;
}

.social-content a .social-logo {
    margin-left: 0.3rem;
}

.social-content a:hover {
    color: var(--base-color) !important;
    background-color: var(--secondary-color-bg);
}

.footer-bottom {
    padding: .8rem;
    background-color: var(--lightest-color-bg);
}

.img-modal {
  display: none; 
  position: fixed; 
  z-index: 1072;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.modal-img-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 80%;
}



/* Add Animation */
.modal-img-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.modal-img-close {
     z-index: 1073;
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal-img-close:hover,
.modal-img-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media (max-width:700px){
  .modal-img-content {
    width: 100%;
    max-width: 100%;
  }
}

/* --- --- RESPONSIVE --- --- */

@media (max-width: 992px) {

    /* °=> Collapsed Navbar */

    .navbar-collapse {
        background-color: var(--lightest-color-bg) !important;
        border-radius: 10px;
        border-color: var(--darkest-color-bg);
        box-shadow: 1px 1px 5px var(--darkest-color-bg);
        padding: 1rem;
        margin-top: 10px;
        text-align: center;
    }

    .nav-item .nav-link {
        margin: .4rem 0 !important;
    }

    .nav-item:not(.dropdown) .nav-link:not(.dropdown-toggle)::after {
        content: '';
        display: block;
        margin: .1rem auto 0;
        width: 0%;
        opacity: 0;
        height: .2rem;
        border-radius: 99px !important;
        background-color: var(--secondary-color-bg);
        transition: .2s ease-in-out;
    }
    
    .nav-item.active:not(.dropdown)>.nav-link::after,
    .nav-item:not(.dropdown)>.nav-link:hover::after {
        opacity: 1;
        width: 30px;
    }

    .nav-item.dropdown {
        margin-top: .3rem;
    }

    .dropdown-menu {
        width: 100%;
        text-align: center;
    }

}

@media (max-width: 576px) {
    .modal {
        padding : 16px;
    }
}
